{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} About Us {% endblock %}
{% block style %}

{% endblock %}
{% block body %}
			<div class="_agt_dash dark" style="background:#675bca url({% static 'img/tag-light.png' %}) no-repeat;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="_capt9oi">
								<h1 class="text-light">About Us</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ========================== Dashboard Header header ============================= -->
			
			<!-- ========================== About Elements ============================= -->
			<section>
				<div class="container">
					<div class="row align-items-center">
								
						<!-- Single Box -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<img src="{% static 'img/ceo.png' %}" alt="" class="img-fluid">
						</div>
						
						<!-- Single Box -->
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="about-captione">
								<h6 class="text-blue">About Pixzium</h6>
								<h2>Let's Short Story About Pixzium.</h2>
								<p>
									We are inspiring everyone to travel and explore the world and let other people experience it through your innovative creations.
									<br>We are providing a platform for Photographers, Videographers, Music producers and other digital content Creators who create their raw content and help others in the video production work.
									<br><br>Whenever you create a good content, you get a reward in form of:-
								</p>
								<ul class="lists-3 mt-3">
									<li>Coupons</li>
									<li>Cash</li>
									<li>Donations</li>
								</ul>
							</div>
						</div>
						
					</div>
						
				</div>
			</section>
			<!-- ========================== About Elements ============================= -->
			
			<!-- ========================== Team Elements ============================= -->
			<section class="min gray-light">
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-9">
							<div class="sec-heading">
								<h2>Our Team</h2>
								<p>Our Dedicated Development Team</p>
							</div>
						</div>
					</div>
					
					<div class="row">
						<!-- Single -->
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="team-grid">
								<div class="teamgrid-user">
									<img src="https://pixziummain.s3.amazonaws.com/static/img/gaurav.png" alt="" class="img-fluid">
								</div>
								
								<div class="teamgrid-content">
									<h4>Gaurav KS</h4>
									<span>Mentor, Founder and CEO</span>
								</div>
								
								<div class="teamgrid-social">
									<ul>
										<li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
										<li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
										<li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
										<li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<!-- Single -->
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="team-grid">
								<div class="teamgrid-user">
									<img src="https://pixziummain.s3.amazonaws.com/static/img/rajneesh.png" alt="" class="img-fluid">
								</div>
								
								<div class="teamgrid-content">
									<h4>Rajneesh Yadav</h4>
									<span>Senior Developer</span>
								</div>
								
								<div class="teamgrid-social">
									<ul>
										<li><a href="#" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
										<li><a href="#" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
										<li><a href="#" class="i-cl" tabindex="0"><i class="ti-instagram"></i></a></li>
										<li><a href="#" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						
						<!-- Single -->
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="team-grid">
								<div class="teamgrid-user">
									<img src="https://pixziummain.s3.amazonaws.com/static/img/prashanjeet.png" alt="" class="img-fluid">
								</div>
								
								<div class="teamgrid-content">
									<h4>Prashanjeet Haldar</h4>
									<span>Full Stack Developer</span>
								</div>
								
								<div class="teamgrid-social">
									<ul>
										<li><a href="https://www.facebook.com/prashanjeeth" class="f-cl" tabindex="0"><i class="ti-facebook"></i></a></li>
										<li><a href="https://twitter.com/PrashanjeetH" class="t-cl" tabindex="0"><i class="ti-twitter"></i></a></li>
										<li><a href="https://github.com/PrashanjeetH" class="b-cl" tabindex="0"><i class="ti-github"></i></a></li>
										<li><a href="https://linkedin.com/in/prashanjeeth" class="l-cl" tabindex="0"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>

					</div>

				</div>
			</section>
			<!-- ========================== Team Elements ============================= -->
			
			<!-- ============================ Clients Testimonials Start ==================================== -->
			<section>
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-9">
							<div class="sec-heading">
								<h2>Our Customers Reviews</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="owl-carousel owl-theme middle-arrow-hover" id="reviews-slide">
							
								<!-- Single Items -->
								<div class="themes-slides">
									<div class="_rev765">
										<div class="_op97"><i class="fa fa-quote-right"></i></div>
										<div class="_ru76">
											<div class="_ru075">
												<img src="https://via.placeholder.com/1920x900" class="img-fluid" alt="">
											</div>
											<div class="_ruli9">
												<h4 class="hyt_87">Rio Kadami</h4>
												<span>Lake Oswald, USA</span>
											</div>
										</div>
										<div class="_re7kl">
											<h4 class="htu_98">Good Services<span class="kjl_4 poor"><i class="fa fa-star"></i>3.2</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur iscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
										</div>
									</div>
								</div>
								
								<!-- Single Items -->
								<div class="themes-slides">
									<div class="_rev765">
										<div class="_op97"><i class="fa fa-quote-right"></i></div>
										<div class="_ru76">
											<div class="_ru075">
												<img src="https://via.placeholder.com/1920x900" class="img-fluid" alt="">
											</div>
											<div class="_ruli9">
												<h4 class="hyt_87">Adam Bakio</h4>
												<span>Lake Oswald, Canada</span>
											</div>
										</div>
										<div class="_re7kl">
											<h4 class="htu_98">Ultimate Support<span class="kjl_4 good"><i class="fa fa-star"></i>4.6</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur iscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
										</div>
									</div>
								</div>
								
								<!-- Single Items -->
								<div class="themes-slides">
									<div class="_rev765">
										<div class="_op97"><i class="fa fa-quote-right"></i></div>
										<div class="_ru76">
											<div class="_ru075">
												<img src="https://via.placeholder.com/1920x900" class="img-fluid" alt="">
											</div>
											<div class="_ruli9">
												<h4 class="hyt_87">Dan Dikhow</h4>
												<span>Lake Oswald, Canada</span>
											</div>
										</div>
										<div class="_re7kl">
											<h4 class="htu_98">Superb Services<span class="kjl_4 min"><i class="fa fa-star"></i>4.0</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur iscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
										</div>
									</div>
								</div>
								
								<!-- Single Items -->
								<div class="themes-slides">
									<div class="_rev765">
										<div class="_op97"><i class="fa fa-quote-right"></i></div>
										<div class="_ru76">
											<div class="_ru075">
												<img src="https://via.placeholder.com/1920x900" class="img-fluid" alt="">
											</div>
											<div class="_ruli9">
												<h4 class="hyt_87">Sikha Agrwal Bakio</h4>
												<span>Liverpool, London</span>
											</div>
										</div>
										<div class="_re7kl">
											<h4 class="htu_98">Good Services<span class="kjl_4 mid"><i class="fa fa-star"></i>4.3</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur iscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
										</div>
									</div>
								</div>
								
								<!-- Single Items -->
								<div class="themes-slides">
									<div class="_rev765">
										<div class="_op97"><i class="fa fa-quote-right"></i></div>
										<div class="_ru76">
											<div class="_ru075">
												<img src="https://via.placeholder.com/1920x900" class="img-fluid" alt="">
											</div>
											<div class="_ruli9">
												<h4 class="hyt_87">Adam Washk</h4>
												<span>Lake Oswald, USA</span>
											</div>
										</div>
										<div class="_re7kl">
											<h4 class="htu_98">Awesome Designs<span class="kjl_4 good"><i class="fa fa-star"></i>4.5</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur iscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
										</div>
									</div>
								</div>
								
								<!-- Single Items -->
								<div class="themes-slides">
									<div class="_rev765">
										<div class="_op97"><i class="fa fa-quote-right"></i></div>
										<div class="_ru76">
											<div class="_ru075">
												<img src="https://via.placeholder.com/1920x900" class="img-fluid" alt="">
											</div>
											<div class="_ruli9">
												<h4 class="hyt_87">Adam Bakio</h4>
												<span>Lake Oswald, Canada</span>
											</div>
										</div>
										<div class="_re7kl">
											<h4 class="htu_98">Good Services<span class="kjl_4 mid"><i class="fa fa-star"></i>4.1</span></h4>
											<p>Lorem ipsum dolor sit amet, consectetur iscing elit, sed do eiusmod tempor incidid ut labore et dolore magna aliqua.</p>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ============================ Clients Testimonials End ==================================== -->

{% endblock body %}
