<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>Pecozo - Digital Marketplace HTML Template</title>
		
        <!-- All Plugins Css -->
        <link href="assets/css/plugins.css" rel="stylesheet">
		 

        <!-- Custom CSS -->
        <link href="assets/css/styles.css" rel="stylesheet">
    </head>
	
    <body class="blue-skin">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="Loader"></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<nav id="navigation" class="navigation navigation-landscape">
								<div class="nav-header">
									<a class="nav-brand" href="#">
										<img src="assets/img/logo.png" class="logo" alt="" />
									</a>
									<div class="nav-toggle"></div>
								</div>
								<div class="nav-menus-wrapper">
									<ul class="nav-menu">
									
										<li class="active"><a href="#">Home<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="index.html" class="active">Home Style 1</a></li>                                    
												<li><a href="home-2.html">Home Style 2</a></li>                                    
												<li><a href="home-3.html">Home Style 3</a></li> 
												<li><a href="home-4.html">Home Style 4</a></li> 
												<li><a href="home-5.html">Home Style 5</a></li> 
												<li><a href="home-6.html">Home Style 6</a></li> 
												<li><a href="home-7.html">Home Style 7</a></li>
											</ul>
										</li>
										
										<li><a href="#">Explore<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="#">Search Product<span class="submenu-indicator"></span></a>
													<ul class="nav-dropdown nav-submenu">
														<li><a href="search-product.html">Search Product By Grid</a></li>                                    
														<li><a href="list-search-product.html">Search Product By List</a></li>  
														<li><a href="search-product-full.html">Search Product 3 Column</a></li>  														
													</ul>
												</li>
												<li><a href="#">Product Detail<span class="submenu-indicator"></span></a>
													<ul class="nav-dropdown nav-submenu">
														<li><a href="item-detail.html">Item Detail 1</a></li>                                    
														<li><a href="item-detail-2.html">Item Detail 2</a></li> 
														<li><a href="item-detail-3.html">Item Detail 3</a></li> 
														<li><a href="photo-detail.html">Photo Detail</a></li> 
														<li><a href="video-detail.html">Video Detail</a></li> 
														<li><a href="font-detail.html">Font Detail</a></li>
														<li><a href="premium-stock-detail.html">Premium Detail</a></li>														
													</ul>
												</li>
												<li><a href="#">User Admin<span class="submenu-indicator"></span></a>
													<ul class="nav-dropdown nav-submenu">
														<li><a href="add-to-cart.html">Add To Cart</a></li>
														<li><a href="billing.html">Billing</a></li>
														<li><a href="confirmation.html">Confirmation</a></li>
														<li><a href="dashboard.html">Dashboard</a></li>
													</ul>
												</li>
											</ul>
										</li>
										
										<li><a href="#">Pages<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="about.html">About Us</a></li> 
												<li><a href="blog.html">Blogs Page</a></li>                                    
												<li><a href="blog-detail.html">Blog Detail</a></li>                                     
												<li><a href="pricing.html">Pricing</a></li>  
												<li><a href="faq.html">FAQ's</a></li>
												<li><a href="signup.html">Signup</a></li>
												<li><a href="login.html">LogIn</a></li> 
											</ul>
										</li>
										
										<li><a href="contact.html">Contacts</a></li>
										
									</ul>
									
									<ul class="nav-menu nav-menu-social align-to-right">
										
										<li>
											<a href="javascript:void(0);" onclick="openRightMenu()" class="urip_list_cart">
												<i class="fa fa-shopping-cart"></i><span class="urip_product_count">4</span>
											</a>
										</li>
										<li class="add-listing green-bg">
											<a href="#" data-toggle="modal" data-target="#login">
												 <i class="ti-user mr-1"></i> Sign in
											</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Dashboard Header Start================================== -->
			<div class="_agt_dash dark" style="background:#675bca url(img/tag-light.png) no-repeat;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">

							<div class="dash_hyu76">
								<div class="dash_hyu74">
									<div class="dash_hyu72">
										<img src="https://via.placeholder.com/90x90" class="img-fluid" alt="" />
									</div>
									<div class="dash_hyu71">
										<h4 class="_hyu71_title">Digital Studio</h4>
										<span>Member Since Dec 2010 USA</span>
										<div class="_hyu71_button">
											<a href="#" class="_njy_likes">Portfolio</a>
										</div>
									</div>				
								</div>
								<div class="dash_hyu75">
									<div class="_hyu75">
										<h4>302</h4>
										<span>Total Sales</span>
									</div>
									<div class="_hyu75_1">
										<div class="_iju7_reviw">
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star filled"></i>
											<i class="fa fa-star"></i>
											<span>(102 Reviews)</span>
										</div>
										<span>Author Rattings</span>	
									</div>					
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Dashboard Header Navigation -->
			<div class="_dash_navigation_wraps">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="_dash_navigation">
								<ul>
									<li><a href="dashboard.html">Dashboard</a></li>
									<li><a href="portfolio.html">Portfolio</a></li>
									<li class="active"><a href="followers.html">Followers<span class="_counts">60</span></a></li>
									<li><a href="followings.html">Followings<span class="_counts">120</span></a></li>
									<li><a href="settings.html">Settings</a></li>
									<li><a href="downloads.html">Downloads</a></li>
									<li><a href="reviews.html">Reviews</a></li>
									<li><a href="wallets.html">Wallates</a></li>
									<li><a href="statements.html">Statements</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ========================== Dashboard Header header ============================= -->
			
			
			<!-- ========================== Dashboard Elements ============================= -->
			<section class="gray-light">
				<div class="container">
					<div class="row">
					
						<!-- single Item -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="urip_widget_wrap shadow_0 large mb-4">
								<div class="urip_widget_avater">
									<a href="author-portfolio.html"><img src="https://via.placeholder.com/400x400" class="img-fluid circle" alt=""></a>
									<div class="veryfied_author"><img src="assets/img/verified.svg" class="img-fluid" width="15" alt=""></div>
								</div>
								<div class="widget_avater_124">
									<h4 class="avater_name_214"><a href="author-portfolio.html">Digital Studio</a></h4>
									<span>Member since Sep 2016</span>
								</div>
								<div class="widget_avater_124">
									<ul class="auhor_list_badges">
										<li><img src="assets/img/golden.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/1st.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/2year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/3year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/platinum.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/green-elite.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/gold-medal.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/smart.svg" class="img-avater rounded" width="40" alt=""></li>
									</ul>
								</div>
								<div class="widget_lkpi">
									<ul class="auhor_info_list_215">
										<li><div class="urip_jbl"><span class="count">102</span>K</div><span class="smallest">Sales</span></li>
										<li><div class="urip_jbl urip_rates good">4.7</div><span class="smallest">42Reviews</span></li>
										<li><div class="urip_jbl">152</div><span class="smallest">Items</span></li>
									</ul>
								</div>
								<div class="widget_avater_423">
									<a href="author-portfolio.html" class="link_portfolio">View Portfolio</a>	
								</div>
							</div>
						</div>
						
						<!-- single Item -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="urip_widget_wrap shadow_0 large mb-4">
								<div class="urip_widget_avater">
									<a href="author-portfolio.html"><img src="https://via.placeholder.com/400x400" class="img-fluid circle" alt=""></a>
									<div class="veryfied_author"><img src="assets/img/verified.svg" class="img-fluid" width="15" alt=""></div>
								</div>
								<div class="widget_avater_124">
									<h4 class="avater_name_214"><a href="author-portfolio.html">Ankur theme</a></h4>
									<span>Member since Sep 2016</span>
								</div>
								<div class="widget_avater_124">
									<ul class="auhor_list_badges">
										<li><img src="assets/img/golden.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/1st.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/2year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/3year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/platinum.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/green-elite.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/gold-medal.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/smart.svg" class="img-avater rounded" width="40" alt=""></li>
									</ul>
								</div>
								<div class="widget_lkpi">
									<ul class="auhor_info_list_215">
										<li><div class="urip_jbl"><span class="count">102</span>K</div><span class="smallest">Sales</span></li>
										<li><div class="urip_jbl urip_rates good">4.7</div><span class="smallest">42Reviews</span></li>
										<li><div class="urip_jbl">152</div><span class="smallest">Items</span></li>
									</ul>
								</div>
								<div class="widget_avater_423">
									<a href="author-portfolio.html" class="link_portfolio">View Portfolio</a>	
								</div>
							</div>
						</div>
						
						<!-- single Item -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="urip_widget_wrap shadow_0 large mb-4">
								<div class="urip_widget_avater">
									<a href="author-portfolio.html"><img src="https://via.placeholder.com/400x400" class="img-fluid circle" alt=""></a>
									<div class="veryfied_author"><img src="assets/img/verified.svg" class="img-fluid" width="15" alt=""></div>
								</div>
								<div class="widget_avater_124">
									<h4 class="avater_name_214"><a href="author-portfolio.html">Web Perfect</a></h4>
									<span>Member since Sep 2016</span>
								</div>
								<div class="widget_avater_124">
									<ul class="auhor_list_badges">
										<li><img src="assets/img/golden.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/1st.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/2year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/3year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/platinum.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/green-elite.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/gold-medal.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/smart.svg" class="img-avater rounded" width="40" alt=""></li>
									</ul>
								</div>
								<div class="widget_lkpi">
									<ul class="auhor_info_list_215">
										<li><div class="urip_jbl"><span class="count">102</span>K</div><span class="smallest">Sales</span></li>
										<li><div class="urip_jbl urip_rates good">4.7</div><span class="smallest">42Reviews</span></li>
										<li><div class="urip_jbl">152</div><span class="smallest">Items</span></li>
									</ul>
								</div>
								<div class="widget_avater_423">
									<a href="author-portfolio.html" class="link_portfolio">View Portfolio</a>	
								</div>
							</div>
						</div>
						
						<!-- single Item -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="urip_widget_wrap shadow_0 large mb-4">
								<div class="urip_widget_avater">
									<a href="author-portfolio.html"><img src="https://via.placeholder.com/400x400" class="img-fluid circle" alt=""></a>
									<div class="veryfied_author"><img src="assets/img/verified.svg" class="img-fluid" width="15" alt=""></div>
								</div>
								<div class="widget_avater_124">
									<h4 class="avater_name_214"><a href="author-portfolio.html">W3 Themes</a></h4>
									<span>Member since Sep 2016</span>
								</div>
								<div class="widget_avater_124">
									<ul class="auhor_list_badges">
										<li><img src="assets/img/golden.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/1st.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/2year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/3year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/platinum.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/green-elite.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/gold-medal.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/smart.svg" class="img-avater rounded" width="40" alt=""></li>
									</ul>
								</div>
								<div class="widget_lkpi">
									<ul class="auhor_info_list_215">
										<li><div class="urip_jbl"><span class="count">102</span>K</div><span class="smallest">Sales</span></li>
										<li><div class="urip_jbl urip_rates good">4.7</div><span class="smallest">42Reviews</span></li>
										<li><div class="urip_jbl">152</div><span class="smallest">Items</span></li>
									</ul>
								</div>
								<div class="widget_avater_423">
									<a href="author-portfolio.html" class="link_portfolio">View Portfolio</a>	
								</div>
							</div>
						</div>
						
						<!-- single Item -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="urip_widget_wrap shadow_0 large mb-4">
								<div class="urip_widget_avater">
									<a href="author-portfolio.html"><img src="https://via.placeholder.com/400x400" class="img-fluid circle" alt=""></a>
									<div class="veryfied_author"><img src="assets/img/verified.svg" class="img-fluid" width="15" alt=""></div>
								</div>
								<div class="widget_avater_124">
									<h4 class="avater_name_214"><a href="author-portfolio.html">LBS Theme</a></h4>
									<span>Member since Sep 2016</span>
								</div>
								<div class="widget_avater_124">
									<ul class="auhor_list_badges">
										<li><img src="assets/img/golden.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/1st.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/2year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/3year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/platinum.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/green-elite.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/gold-medal.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/smart.svg" class="img-avater rounded" width="40" alt=""></li>
									</ul>
								</div>
								<div class="widget_lkpi">
									<ul class="auhor_info_list_215">
										<li><div class="urip_jbl"><span class="count">102</span>K</div><span class="smallest">Sales</span></li>
										<li><div class="urip_jbl urip_rates good">4.7</div><span class="smallest">42Reviews</span></li>
										<li><div class="urip_jbl">152</div><span class="smallest">Items</span></li>
									</ul>
								</div>
								<div class="widget_avater_423">
									<a href="author-portfolio.html" class="link_portfolio">View Portfolio</a>	
								</div>
							</div>
						</div>
						
						<!-- single Item -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="urip_widget_wrap shadow_0 large mb-4">
								<div class="urip_widget_avater">
									<a href="author-portfolio.html"><img src="https://via.placeholder.com/400x400" class="img-fluid circle" alt=""></a>
									<div class="veryfied_author"><img src="assets/img/verified.svg" class="img-fluid" width="15" alt=""></div>
								</div>
								<div class="widget_avater_124">
									<h4 class="avater_name_214"><a href="author-portfolio.html">True Theme</a></h4>
									<span>Member since Sep 2016</span>
								</div>
								<div class="widget_avater_124">
									<ul class="auhor_list_badges">
										<li><img src="assets/img/golden.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/1st.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/2year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/3year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/platinum.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/green-elite.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/gold-medal.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/smart.svg" class="img-avater rounded" width="40" alt=""></li>
									</ul>
								</div>
								<div class="widget_lkpi">
									<ul class="auhor_info_list_215">
										<li><div class="urip_jbl"><span class="count">102</span>K</div><span class="smallest">Sales</span></li>
										<li><div class="urip_jbl urip_rates good">4.7</div><span class="smallest">42Reviews</span></li>
										<li><div class="urip_jbl">152</div><span class="smallest">Items</span></li>
									</ul>
								</div>
								<div class="widget_avater_423">
									<a href="author-portfolio.html" class="link_portfolio">View Portfolio</a>	
								</div>
							</div>
						</div>
						
						<!-- single Item -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="urip_widget_wrap shadow_0 large mb-4">
								<div class="urip_widget_avater">
									<a href="author-portfolio.html"><img src="https://via.placeholder.com/400x400" class="img-fluid circle" alt=""></a>
									<div class="veryfied_author"><img src="assets/img/verified.svg" class="img-fluid" width="15" alt=""></div>
								</div>
								<div class="widget_avater_124">
									<h4 class="avater_name_214"><a href="author-portfolio.html">Mikara Theme</a></h4>
									<span>Member since Sep 2016</span>
								</div>
								<div class="widget_avater_124">
									<ul class="auhor_list_badges">
										<li><img src="assets/img/golden.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/1st.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/2year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/3year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/platinum.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/green-elite.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/gold-medal.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/smart.svg" class="img-avater rounded" width="40" alt=""></li>
									</ul>
								</div>
								<div class="widget_lkpi">
									<ul class="auhor_info_list_215">
										<li><div class="urip_jbl"><span class="count">102</span>K</div><span class="smallest">Sales</span></li>
										<li><div class="urip_jbl urip_rates good">4.7</div><span class="smallest">42Reviews</span></li>
										<li><div class="urip_jbl">152</div><span class="smallest">Comments</span></li>
									</ul>
								</div>
								<div class="widget_avater_423">
									<a href="author-portfolio.html" class="link_portfolio">View Portfolio</a>	
								</div>
							</div>
						</div>
						
						<!-- single Item -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="urip_widget_wrap shadow_0 large mb-4">
								<div class="urip_widget_avater">
									<a href="author-portfolio.html"><img src="https://via.placeholder.com/400x400" class="img-fluid circle" alt=""></a>
									<div class="veryfied_author"><img src="assets/img/verified.svg" class="img-fluid" width="15" alt=""></div>
								</div>
								<div class="widget_avater_124">
									<h4 class="avater_name_214"><a href="author-portfolio.html">DigiCom Soft</a></h4>
									<span>Member since Sep 2016</span>
								</div>
								<div class="widget_avater_124">
									<ul class="auhor_list_badges">
										<li><img src="assets/img/golden.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/1st.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/2year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/3year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/platinum.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/green-elite.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/gold-medal.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/smart.svg" class="img-avater rounded" width="40" alt=""></li>
									</ul>
								</div>
								<div class="widget_lkpi">
									<ul class="auhor_info_list_215">
										<li><div class="urip_jbl"><span class="count">102</span>K</div><span class="smallest">Sales</span></li>
										<li><div class="urip_jbl urip_rates good">4.7</div><span class="smallest">42Reviews</span></li>
										<li><div class="urip_jbl">152</div><span class="smallest">Comments</span></li>
									</ul>
								</div>
								<div class="widget_avater_423">
									<a href="author-portfolio.html" class="link_portfolio">View Portfolio</a>	
								</div>
							</div>
						</div>
						
						<!-- single Item -->
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="urip_widget_wrap shadow_0 large mb-4">
								<div class="urip_widget_avater">
									<a href="author-portfolio.html"><img src="https://via.placeholder.com/400x400" class="img-fluid circle" alt=""></a>
									<div class="veryfied_author"><img src="assets/img/verified.svg" class="img-fluid" width="15" alt=""></div>
								</div>
								<div class="widget_avater_124">
									<h4 class="avater_name_214"><a href="author-portfolio.html">KaliCrack</a></h4>
									<span>Member since Sep 2016</span>
								</div>
								<div class="widget_avater_124">
									<ul class="auhor_list_badges">
										<li><img src="assets/img/golden.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/1st.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/2year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/3year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/platinum.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/green-elite.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/gold-medal.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="assets/img/smart.svg" class="img-avater rounded" width="40" alt=""></li>
									</ul>
								</div>
								<div class="widget_lkpi">
									<ul class="auhor_info_list_215">
										<li><div class="urip_jbl"><span class="count">102</span>K</div><span class="smallest">Sales</span></li>
										<li><div class="urip_jbl urip_rates good">4.7</div><span class="smallest">42Reviews</span></li>
										<li><div class="urip_jbl">152</div><span class="smallest">Comments</span></li>
									</ul>
								</div>
								<div class="widget_avater_423">
									<a href="author-portfolio.html" class="link_portfolio">View Portfolio</a>	
								</div>
							</div>
						</div>
						
					</div>
					
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<ul class="pagination mt-0">
								<li class="page-item">
								  <a class="page-link" href="#" aria-label="Previous">
									<span class="ti-arrow-left"></span>
									<span class="sr-only">Previous</span>
								  </a>
								</li>
								<li class="page-item"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item active"><a class="page-link" href="#">3</a></li>
								<li class="page-item"><a class="page-link" href="#">...</a></li>
								<li class="page-item"><a class="page-link" href="#">18</a></li>
								<li class="page-item">
								  <a class="page-link" href="#" aria-label="Next">
									<span class="ti-arrow-right"></span>
									<span class="sr-only">Next</span>
								  </a>
								</li>
							</ul>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ========================== Dashboard Elements ============================= -->
			
			<!-- ============================ Call To Action Start ================================== -->
			<section class="call-to-act" style="background:#5d47dd url(assets/img/landing-bg.png) no-repeat">
				<div class="container">
					<div class="row justify-content-center">
					
						<div class="col-lg-7 col-md-8">
							<div class="clt-caption text-center mb-4">
								<h3>Subscribe Now!</h3>
								<p>Subscribe us to get unlimited tips of Photography, Videography and Others</p>
							</div>
							<div class="inner-flexible-box subscribe-box">
								<div class="input-group">
									<input type="text" class="form-control large" placeholder="Enter your mail here">
									<button class="btn btn-subscribe" type="button"><i class="fa fa-arrow-right"></i></button>
								</div>
							</div>
						</div>				
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- =========================== Footer Start ========================================= -->
			<footer class="dark-footer skin-dark-footer">
				<div>
					<div class="container">
						<div class="row">
							
							<div class="col-lg-4 col-md-6">
								<div class="footer-widget">
									<img src="assets/img/logo-light.png" class="img-fluid f-logo" width="120" alt="">
									<p>407-472 Rue Saint-Sulpice, Montreal<br>Quebec, H2Y 2V8</p>
									<ul class="footer-bottom-social">
										<li><a href="#"><i class="ti-facebook"></i></a></li>
										<li><a href="#"><i class="ti-twitter"></i></a></li>
										<li><a href="#"><i class="ti-instagram"></i></a></li>
										<li><a href="#"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>
							</div>		
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Useful links</h4>
									<ul class="footer-menu">
										<li><a href="about.html">About Us</a></li>
										<li><a href="faq.html">FAQs Page</a></li>
										<li><a href="billing.html">Checkout</a></li>
										<li><a href="login.html">Login</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Developers</h4>
									<ul class="footer-menu">
										<li><a href="#">Booking</a></li>
										<li><a href="#l">Stays</a></li>
										<li><a href="#">Adventures</a></li>
										<li><a href="#">Author Detail</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Useful links</h4>
									<ul class="footer-menu">
										<li><a href="about.html">About Us</a></li>
										<li><a href="faq.html">Jobs</a></li>
										<li><a href="#">Events</a></li>
										<li><a href="#">Press</a></li>
									</ul>
								</div>
							</div>
									
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Useful links</h4>
									<ul class="footer-menu">
										<li><a href="#">Support</a></li>
										<li><a href="contact.html">Contact Us</a></li>
										<li><a href="#">Privacy &amp; Terms</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-12 col-md-12 text-center">
								<p class="mb-0">© 2021 Pecozo. Designd By <a href="https://themezhub.com">Themez Hub</a> All Rights Reserved</p>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- =========================== Footer End ========================================= -->
			
			<!-- Switcher Start -->
			<div class="w3-ch-sideBar w3-bar-block w3-card-2 w3-animate-right"  style="display:none;right:0;" id="rightMenu">
				<div class="_oli987">
					<h4 class="cart_heading">Your cart</h4>
					<button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
				</div>
				<div class="rightMenu-scroll">
					<div class="right-ch-sideBar" id="side-scroll">
						
						<div class="cart_select_items">
							<!-- Single Item -->
							<div class="cart_selected_single">
								<div class="cart_selected_single_thumb">
									<a href="#"><img src="https://via.placeholder.com/90x90" class="img-fluid" alt="" /></a>
								</div>
								<div class="cart_selected_single_caption">
									<h4 class="product_title">Orio - Online Multipurpose WordPress Theme</h4>
									<span class="numberof_item">$59</span>
									<a href="#" class="text-danger">Remove</a>
								</div>
							</div>
							<!-- Single Item -->
							<div class="cart_selected_single">
								<div class="cart_selected_single_thumb">
									<a href="#"><img src="https://via.placeholder.com/90x90" class="img-fluid" alt="" /></a>
								</div>
								<div class="cart_selected_single_caption">
									<h4 class="product_title">LearnUp - Online LMS WordPress Theme</h4>
									<span class="numberof_item">$39</span>
									<a href="#" class="text-danger">Remove</a>
								</div>
							</div>
							<!-- Single Item -->
							<div class="cart_selected_single">
								<div class="cart_selected_single_thumb">
									<a href="#"><img src="https://via.placeholder.com/90x90" class="img-fluid" alt="" /></a>
								</div>
								<div class="cart_selected_single_caption">
									<h4 class="product_title">Cario - Digital WordPress Theme</h4>
									<span class="numberof_item">$15x2</span>
									<a href="#" class="text-danger">Remove</a>
								</div>
							</div>
						</div>
						
						<div class="cart_subtotal">
							<h6>Subtotal<span class="theme-cl">$120.47</span></h6>
						</div>
						
						<div class="cart_action">
							<ul>
								<li><a href="" class="btn btn_checkout">Checkout Now</a></li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<div class="modal-header">
							<h4>Close Window</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						</div>
						<div class="modal-body">
							<h4 class="modal-header-title">Sign <span class="theme-cl">In</span></h4>
							
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<label>User Name</label>
										<div class="input-with-gray light">
											<input type="text" class="form-control" placeholder="Username">
										</div>
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<div class="input-with-gray light">
											<input type="password" class="form-control" placeholder="*******">
										</div>
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn theme-bg btn-md full-width pop-login">Login</button>
									</div>
								
								</form>
							</div>
							
							<div class="form-group text-center">
								<span>Or Signup with</span>
							</div>
							
							<div class="social_logs mb-4">
								<ul>
									<li class="fb-login"><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li class="gp-login"><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li class="ln-login"><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
							
						</div>
						<div class="modal-footer">
							<div class="mf-link"><i class="ti-user"></i>Haven't An Account?<a href="javascript:void(0)" class="theme-cl"> Sign Up</a></div>
							<div class="mf-forget"><a href="#"><i class="ti-help"></i>Forget Password</a></div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->		

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/popper.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/select2.min.js"></script>
		<script src="assets/js/owl.carousel.min.js"></script>
		<script src="assets/js/ion.rangeSlider.min.js"></script>
		<script src="assets/js/counterup.min.js"></script>
		<script src="assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
		
		<script>
			function openRightMenu() {
				document.getElementById("rightMenu").style.display = "block";
			}
			function closeRightMenu() {
				document.getElementById("rightMenu").style.display = "none";
			}
		</script>
		
	</body>
</html>