{% extends 'layout.html' %}
{% load static %}
{% block keywords %}free stock photos, pexels, free, images, indian images, india, pixzium{% endblock %}
{% block title %} Home {% endblock %}
{% block head %}
    <!-- Portfolio CSS -->
    <link href="{% static 'portfolio/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
{% endblock %}
{% block style %}
{% endblock %}


{% block body %}
    <!-- ============================ Hero Banner  Start================================== -->
    <div class="hero-banner bg-cover center" style="background:#93d4f0 url('/media/background.png') no-repeat;" data-overlay="4">
        <div class="container">
            <h1 class="small">Stunning free stock Images & Videos</h1>
            <p class="lead">Only Your, Creativity Matter</p>
            <form action="{% url 'search' %}" class="mt-4" method="get">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10 col-sm-12">
                        <div class="banner-search style-1">
                            <div class="input-group">

                                <input name="q" type="text" class="form-control lio-rad" placeholder="Search Media">
                                <div class="input-group-append hime_m">
                                    <div class="form-group b-r">
                                        <select id="category" name="searchType" class="js-states form-control">
                                            <option value="">&nbsp;</option>
                                            <option value="image">Photos</option>
                                            <option value="video">Videos</option>
                                            <option value="music">Musics</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="input-group-append">
                                    <button type="submit" class="btn bt-round"><i class="ti-search"></i></button>
                                </div>
                                <div class="featured-category">
                                    <ul>
                                        <li class="text-light">Trending:</li>
                                        {% for mt in common_tags %}
                                            <li><a href="/search?q={{ mt }}">{{mt}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- ============================ Hero Banner End ================================== -->


    <!-- ============================ All Images List Start ================================== -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 col-md-9">
                            <div class="sec-heading">
                                <h2>Check Out Recent Uploads</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <!-- ======= Features Section ======= -->
                            <section id="features" class="features">
                              <div class="container" data-aos="fade-up">
                                <div class="row" data-aos="zoom-in" data-aos-delay="100">
                                  <div class="col-lg-3 col-md-4">
                                    <div class="icon-box">
                                      <i class="ri-movie-line" style="color: #ffbb2c;"></i>
                                      <h3><a href="{% url 'video' %}">Videos</a></h3>
                                    </div>
                                  </div>
                                  <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                                    <div class="icon-box">
                                      <i class="ri-image-line" style="color: #5578ff;"></i>
                                      <h3><a href="{% url 'image' %}">Images</a></h3>
                                    </div>
                                  </div>
                                  <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                                    <div class="icon-box">
                                      <i class="ri-music-line" style="color: #e80368;"></i>
                                      <h3><a href="{% url 'music' %}">Musics</a></h3>
                                    </div>
                                  </div>
                                  <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                                    <div class="icon-box">
                                      <i class="ri-loader-line" style="color: #e361ff;"></i>
                                      <h3><a href="#">Coming Soon</a></h3>
                                    </div>
                                  </div>
                                </div>

                              </div>
                            </section>
                            <!-- End Features Section -->
                        </div>
                    </div>
                    <!-- ======= Portfolio Section ======= -->
                    <section id="portfolio" class="portfolio infinite-container">
                      <div class="container" data-aos="fade-up">

                        <div class="row " data-aos="fade-up" data-aos-delay="200">
                          {% for portfolio in portfolios %}
                          <div id="like-{{ portfolio.id }}" class="col-lg-4 col-md-6 portfolio-item">
                            <div class="item_image_urip">
                                <a href="{% url 'download' 'image' portfolio.slug %}" class="urip_link download"><i class="fa fa-download"></i></a>
                                <a href="{% url 'photo_detail' slug=portfolio.slug user_name=portfolio.user.user.username %}" class="item-img">
                                    <img src="{{ portfolio.file.url }}" class="img-fluid" alt="{{ portfolio.title }}">
                                </a>
                                <div class="image_urip_caption">
                                    <div class="urip_caption_flex">
                                        <div class="urip_author">
                                            <div class="urip_avater">
                                                <a href="{% url 'profile' username=portfolio.user.user.username %}" class="author-img">
                                                    <img src="{{  portfolio.user.profile_pic.url }}" class="img-fluid" alt="" />
                                                </a>
                                            </div>
                                            <div class="urip_avater_place">
                                                <h3 class="urip_title"><a href="{% url 'profile' username=portfolio.user.user.username %}">{{portfolio.user.user}}</a></h3>
                                                {% if portfolio.user.city or portfolio.user.country %}
                                                    <span>{{ portfolio.user.city  | default_if_none:'unknown' | capfirst }}, {{ portfolio.user.country | default_if_none:'' | capfirst }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="urip_caption_last">
                                        <div class="item_list_links">
                                            <a href="{% url 'photo_detail' slug=portfolio.slug user_name=portfolio.user.user.username  %}" target="_blank" class="urip_link"><i class="fa fa-eye"></i></a>
                                            <a href ='#like-{{ portfolio.id }}' data-catid = '{{ portfolio.id }}' class="like-btn urip_link" ><i class="fa fa-heart fa-heart-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>

                      </div>
                    </section>
                    <!-- End Portfolio Section -->
                </div>
            </div>

        {% if page_obj.has_other_pages %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
          </ul>
        {% endif %}

        </div>
    </section>
    <!-- ============================ All Images List End ================================== -->

    <!-- ============================ Call To Action Start ================================== -->
    <section class="call-to-act" style="background:#5d47dd url({% static 'img/landing-bg.png' %}) no-repeat">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-lg-7 col-md-8">
                    <div class="clt-caption text-center mb-4">
                        <h3>Subscribe Now!</h3>
                        <p>Subscribe us to get unlimited tips of Photography, Videography and Others</p>
                    </div>
                    <div class="inner-flexible-box subscribe-box">
                        <div class="input-group">
                            <input type="text" class="form-control large" placeholder="Enter your mail here">
                            <button class="btn btn-subscribe" type="button"><i class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Call To Action End ================================== -->
{% block script %}
    <!-- Portfolio JS-->
    <script src="{% static 'portfolio/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'portfolio/waypoints/infinite-scroll.min.js' %}"></script>
    <script src="{% static 'portfolio/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static 'portfolio/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'portfolio/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'portfolio/aos/aos.js' %}"></script>

    <script>
        var infinite = new Waypoint({
            element: $('.infinite-container')[0],
            handler: function(direction) {

        },
        offset: 'bottom-in-view',
        onBeforePageLoad: function () {
            $('.spinner-border').show();
        },
        onAfterPageLoad: function () {
            $('.spinner-border').hide();
        }


        });

    </script>

    <script type="text/javascript">
    $('.like-btn').click(function(){
    var catid;
    catid = $(this).attr("data-catid");

    $.ajax({
            type:"GET",
            url: /like_post/,
            data:{
                     post_id: catid
            },
            datatype:'json',
            success: function( data )
            {
                console.log(data)
            }
         })
        });
    </script>

{% endblock %}
{% endblock body %}