{% extends 'layout.html' %}
{% load static %}
{% block keywords %}free stock photos, pexels, free, images, indian images, india, pixzium music{% endblock %}
{% block title %} Music {% endblock %}
{% block head %}
    <!-- Portfolio CSS -->
    <link href="{% static 'portfolio/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
{% endblock %}
{% block style %}

{% endblock %}

{% block body %}
	<!-- ============================ Dashboard Header Start================================== -->
	<div class="_agt_dash dark" style="background:#675bca url({% static 'img/tag-light.png' %}) no-repeat;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="_capt9oi">
						<h1 class="text-light">Latest Uploaded Music by Creator's</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ========================== Dashboard Header header ============================= -->
	<!-- ======= Portfolio Section ======= -->

    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="row portfolio-container">
          {% for music in portfolio %}
          <div class="col-lg-4 col-md-6 portfolio-item">
			<div class="">
				<a class="item-img">
					<img src="{{ music.thumbnail.url }}" class="img-fluid" alt="{{ music.title }}">
				</a>
            </div>
              <div class="card-body">
                  <div class="float-left">
                      <h5>{{ music.title | truncatechars:24 | capfirst}}</h5>
                  </div>
                  <div class="float-right">
                      <p>{{ music.user.user.first_name | capfirst}}</p>
                  </div>
              </div>
              <div class="urip_column_wrap justify-content-center">
                  <audio id="{{music.id}}" onplay="views({{ music.id }});" style="margin-top: 0.3em;" controls>
                      <source  src="{{ music.file.url }}" type="audio/mp3" au>
                  </audio>
              </div>
          </div>
			{% empty %}
			<img class="w-25 img-fluid mx-auto d-block" src="{% static 'img/nodata.jpg' %}">
          {% endfor %}
        </div>
        {% if page_obj.has_other_pages %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    </section><!-- End Portfolio Section -->
	<!-- End Portfolio Section -->
{% block script %}
    <!-- Portfolio JS-->
        <script type="text/javascript">
    $('.like-btn').click(function(){
    var catid;
    catid = $(this).attr("data-catid");

    $.ajax({
            type:"GET",
            url: /like_post/,
            data:{
                     post_id: catid
            },
            datatype:'json',
            success: function( data )
            {
                console.log(data)
            }
         })
        });
    </script>
    <script src="{% static 'portfolio/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'portfolio/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'portfolio/venobox/venobox.min.js' %}"></script>
    <script src="{% static 'portfolio/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'portfolio/aos/aos.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/infinity/0.2.2/infinity.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% endblock %}
{% endblock body %}