{% extends 'layout.html' %}
{% load static %}
{% block title %} Music {% endblock %}
{% block style %}
<style>
	.pricing_boxes.featured:before {
    content: "Photo of the Week";
    position: absolute;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    top: -23px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    padding: 10px 30px;
    left: 50%;
    transform: translateX(-50%);
}
</style>
{% endblock %}

{% block body %}
			<div class="_agt_dash dark" style="background:#675bca url(img/tag-light.png) no-repeat;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="_capt9oi">
								<h1 class="text-light">Photo of the Week will Come Soon</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ========================== Dashboard Header header ============================= -->


			<!-- ========================== Pricing Elements ============================= -->
			<section class="min-sec">
				<div class="container">

					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-9">
							<div class="sec-heading">
								<h2>Pixzium presents POW(Photo of the Week)</h2>
								<p>You can Buy this copyrighted Image</p>
							</div>
						</div>
					</div>

					<div class="row">

						<!-- Single Pricing Box -->
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="pricing_boxes featured">
								<div class="pricing_boxes_header">
									<div class="pricing_thumb_title">
										<h4>Professional</h4>
										<p>For organising every corner of your life</p>
									</div>
								</div>
								<div class="pricing_boxes_middle">
									<h2 class="pricing_rate">Photo will be visible here</h2>
									<span class="time_esti">Photo Title</span><br>
									<a href="#" class="btn btn-primary">Buy Now</a>
								</div>
							</div>
						</div>

					</div>

				</div>
			</section>
			<!-- ========================== Pricing Elements ============================= -->

{% endblock body %}