{% extends 'layout.html' %}
{% load static %}
{% block title %} Music {% endblock %}
{% block style %}

{% endblock %}

{% block body %}
			<div class="_agt_dash dark" style="background:#675bca url(assets/img/tag-light.png) no-repeat;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="_capt9oi">
								<h1 class="text-light">Subscription Coming Soon</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ========================== Dashboard Header header ============================= -->
			
			
			<!-- ========================== Pricing Elements ============================= -->
			<section class="min-sec">
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-9">
							<div class="sec-heading">
								<h2>Great Price For You</h2>
								<p>You can Buy unlimited copyrighted Images</p>
							</div>
						</div>
					</div>
					
					<div class="row">
						<!-- Single Pricing Box -->
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="pricing_boxes">
								<div class="pricing_boxes_header">
									<div class="pricing_thumb_title">
										<h4>Basic</h4>
										<p>For organising every corner of your life</p>
									</div>
								</div>
								<div class="pricing_boxes_middle">
									<h2 class="pricing_rate">$29</h2>
									<span class="time_esti">per month</span>
									<a href="#" class="btn pricing_btn">Get Started</a>
								</div>
								<div class="pricing_boxes_detail">
									<ul class="pricing_lists">
										<li>Access Whole Items</li>
										<li>Sync across device</li>
										<li>Share with 5 guests</li>
										<li>24x7 Email Support</li>
									</ul>
								</div>
							</div>
						</div>
						
						<!-- Single Pricing Box -->
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="pricing_boxes featured">
								<div class="pricing_boxes_header">
									<div class="pricing_thumb_title">
										<h4>Professional</h4>
										<p>For organising every corner of your life</p>
									</div>
								</div>
								<div class="pricing_boxes_middle">
									<h2 class="pricing_rate">$99</h2>
									<span class="time_esti">Per 1 Year</span>
									<a href="#" class="btn pricing_btn">Get Started</a>
								</div>
								<div class="pricing_boxes_detail">
									<ul class="pricing_lists">
										<li>Access Whole Items</li>
										<li>Sync across device</li>
										<li>Share with 10 guests</li>
										<li>24x7 Email Support</li>
									</ul>
								</div>
							</div>
						</div>
						
						<!-- Single Pricing Box -->
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="pricing_boxes">
								<div class="pricing_boxes_header">
									<div class="pricing_thumb_title">
										<h4>Organisation</h4>
										<p>For organising every corner of your life</p>
									</div>
								</div>
								<div class="pricing_boxes_middle">
									<h2 class="pricing_rate">$199</h2>
									<span class="time_esti">Lifetime</span>
									<a href="#" class="btn pricing_btn">Get Started</a>
								</div>
								<div class="pricing_boxes_detail">
									<ul class="pricing_lists">
										<li>Access Whole Items</li>
										<li>Sync across device</li>
										<li>Share with 5 guests</li>
										<li>24x7 Email Support</li>
									</ul>
								</div>
							</div>
						</div>				
					</div>
					
				</div>
			</section>
			<!-- ========================== Pricing Elements ============================= -->

{% endblock body %}