{% extends 'layout.html' %}
{% load static %}
{% block title %} Search Result {% endblock %}
{% block style %}

{% endblock %}

{% block body %}
	<!-- ============================ Dashboard Header Start================================== -->
	<div class="_agt_dash dark" style="background:#675bca url({% static 'img/tag-light.png' %}) no-repeat;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="_capt9oi">
						<h1 class="text-light">Search Results</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ========================== Dashboard Header header ============================= -->
	<!-- ======= Portfolio Section ======= -->
	<section id="portfolio" class="portfolio">
	  <div class="container" data-aos="fade-up">
		{% for search in object_list %}
		<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

		  {% if search.status == 'Pending' %}
		  <div class="col-lg-4 col-md-6 portfolio-item">
			<div class="item_image_urip">
				<a href="{{ search.file.url }}" class="urip_link download"><i class="fa fa-download"></i></a>
				<a class="item-img">
					<img src="{{ search.file.url }}" class="img-fluid" alt="{{ search.title }}">
				</a>
				<div class="image_urip_caption">
					<div class="urip_caption_flex">
						<div class="urip_author">
							<div class="urip_avater">
								<a href="author-detail.html.html" class="author-img">
									<img src="https://via.placeholder.com/400x400" class="img-fluid" alt="">
								</a>
							</div>
							<div class="urip_avater_place">
								<h3 class="urip_title"><a href="{% url 'profile' username=search.user.username %}">{{search.user}}</a></h3>
								<span>Liverpool, London</span>
							</div>
						</div>
					</div>
					<div class="urip_caption_last">
						<div class="item_list_links">
							<a href="photo-detail.html" class="urip_link"><i class="fa fa-plus-circle"></i></a>
							<a href="photo-detail.html" class="urip_link"><i class="fa fa-heart"></i></a>
						</div>
					</div>
				</div>
			</div>
		  </div>
		  {% endif %}
			{% empty %}
			<img class="w-25 img-fluid mx-auto d-block" src="{% static 'img/nosearch.jpg' %}">
		</div>
		{% endfor %}
	  </div>
	</section>
	<!-- End Portfolio Section -->

{% endblock body %}