{% extends 'layout.html' %}
{% load static %}
{% block keywords %}free stock photos, pexels, free, images, indian images, india, pixzium upload{% endblock %}
{% load crispy_forms_tags %}
{% block title %} Upload {% endblock %}
{% block head %}
	<!-- Upload CSS -->
    <link href="{% static 'dropify/css/dropify.min.css' %}" rel="stylesheet">
    <link href="{% static 'tagsinput/tagsinput.css' %}" rel="stylesheet">
{% endblock %}
{% block style %}

{% endblock %}

{% block body %}
	<!-- ============================ Dashboard Header Start================================== -->
	<div class="_agt_dash dark" style="background:#675bca url({% static 'img/tag-light.png' %}) no-repeat;">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="_capt9oi">
						<h1 class="text-light">Upload Your Creativity</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ========================== Dashboard Header header ============================= -->
	<!-- ========================== Upload Elements ============================= -->
	<section class="gray-light">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10 col-md-10">

					<div class="row no-gutters position-relative log_rads">

						<div class="col-lg-12 col-md-12 position-static p-4 pl-md-0">
							<div class="log_wraps">
								<div class="alert alert-danger" role="alert">
									If you are uploading Video then please make it less 200 MB.
								</div>
								<div class="messages col-lg-12 col-md-12">
									{% for message in messages %}
										<p {% if message.tags %} class="{{ message.tags }} alert alert-{{ message.tags }}" role="alert"{% endif %}>{{ message }}</p>
									{% endfor %}
								</div>

								<form method="post" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="form-group">
										{{ form.title|as_crispy_field }}
									</div>

									<div class="form-group">
										{{ form.description|as_crispy_field }}
									</div>

                                    <p class="font-italic text-black" style="font-size:12px;">Please provide Suitable tag for Image or Video or Music.</p>
                                    <div class="form-group">
                                        {{ form.tags|as_crispy_field }}
									</div>

									<div class="form-group">
										<label for="input-file-now">Upload*</label>
										<input type="file" name="file" id="input-file-now" class="dropify">
									</div>

                                    <div class="form-group">
										<label for="input-file-now">Thumbnail (**only for music and videos)</label>
										<input type="file" name="thumbnail" class="file-upload-box">
									</div>


									<div class="logs_foot mb-3">
										<div class="logs_foot_first">
											<input id="ct-1" class="checkbox-custom" name="ct-1" type="checkbox" required>
											<label for="ct-1" class="checkbox-custom-label">I Agree with Terms & Conditions.</label>
										</div>
									</div>

									<div class="form-group">
										<button type="submit" class="btn btn-primary w-100">Upload</button>
									</div>
								</form>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- ========================== Upload Elements ============================= -->

    {% block script %}
	<!-- Upload JS -->
    <script src="{% static 'dropify/js/dropify.min.js' %}"></script>
    <script src="{% static 'tagsinput/tagsinput.js' %}"></script>
    {% endblock %}
{% endblock body %}