{% extends 'layout.html' %}
{% load static %}
{% load social_share %}

{% block title %} {{video.title}} {% endblock %}

{% block style %}
{% endblock %}
{% block body %}
	<!-- ============================ Item Detail Start ================================== -->
	<section class="gray-light">
		<div class="container">
			<div class="row">

				<div class="col-lg-8 col-md-12 col-sm-12">
					<div class="_uy76_gallery mb-4">
                        <video class="img-fluid rounded" preload="metadata" controls controlsList="nodownload">
					        <source src="{{ video.file.url }}" type="video/mp4" >
                        </video>
					</div>
					<div class="_uy76_caption">
						<div class="g6">
                            {{ video.description }}
                        </div>
					</div>
				</div>

				<!-- Sidebar Start -->
				<div class="col-lg-4 col-md-12 col-sm-12">

					<!-- Like & Donate -->
					<div class="urip_follo_link">
						<ul class="mt-0">
							<li><a href="#" class="liks light-dark"><i class="fa fa-heart mr-1"></i>{{ video.number_of_likes }} Likes</a></li>
							<li><a href="#" class="liks light-dark"><i class="fa fa-download mr-1"></i>{{ video.total_downloads }} Downloads</a></li>
						</ul>
					</div>
					<div class="urip_follo_link">
						<ul class="mt-0">
							<li><a href="#" class="liks light-dark">&nbsp;{{ video.views }}&nbsp;<i class="fas fa-eye"></i> &nbsp;Views</a></li>
						</ul>
					</div>
					<!-- Author Info -->
					<div class="urip_widget_wrap shadow_0 mb-4 large">
						<div class="urip_widget_avater">
							<a href="{% url 'profile' username=video.user.user.username  %}"><img src="{{ video.user.profile_pic.url }}" class="img-fluid circle" alt=""></a>
							<div class="veryfied_author"><img src="{% static 'img/verified.svg' %}" class="img-fluid" width="15" alt=""></div>
						</div>
						<div class="widget_avater_124">
							<h4 class="avater_name_214"><a href="{% url 'profile' username=video.user.user.username  %}">{{ video.user.user.first_name }} {{ video.user.user.last_name }}</a></h4>
							<span>{{ video.user.number_of_followers }} followers</span>
						</div>

						<div class="urip_follo_link">
							<ul>
								<li><a href="/follow/?profile_id={{ video.user.user.id }}&next={{ request.path }}"
                                    {% if request.user not in video.user.followers.all %}
                                        class="liks light-gray">Follow
                                    {% else %}
                                        class="liks light-gray" > Following
                                    {% endif %}
                                </a></li>
								{% if profile.razorpay is not None %}
									<form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="{{profile.razorpay}}" async> </script> </form>
								{% endif%}
							</ul>
						</div>

						<div class="widget_lkpi">
							<ul class="auhor_info_list_215">
								<li><div class="urip_jbl"><span class="count">{{ image_count }}</span></div><span class="smallest">Photos</span></li>
								<li><div class="urip_jbl"><span class="count">{{ video.user.number_of_followers }}</span></div><span class="smallest">Followers</span></li>
								<li><div class="urip_jbl"><span class="count">{{ video.user.number_of_following }}</span></div><span class="smallest">Followings</span></li>
							</ul>
						</div>
					</div>

					<!-- Download Options -->
					<div class="dropdown">
						<a class="btn btn-download" href="{% url 'download' 'video' video.slug%}" onclick="alert('Your file is being downloaded... please wait.\n DO NOT REFRESH or GO BACK');" role="button" >Free Download</a>
					</div>
					<div class="row col-lg-12 col-md-12 col-sm-12 ml-2 mr-2 mt-4 text-center">
						<div class="col-4">
                            {% post_to_facebook object_or_url "<i class='fab fa-facebook-f fa-2x'></i>" %}
						</div>
                        <div class="col-4">
                            {% post_to_twitter "New video: {{ video.title }}. Check it out!" object_or_url "<i class='fab fa-twitter fa-2x'></i>" %}
                        </div>
                        <div class="col-4">
                        {% post_to_whatsapp object_or_url "<i class='fab fa-whatsapp fa-2x'></i>" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ============================ Item Detail End ================================== -->

	<!-- ============================ Related And Tags ================================== -->
	<section>
		<div class="container">

			<div class="row">

			</div>

			<div class="row">
				<div class="col-lg-12 col-md-12">
					<h3>Related Tags</h3>
				</div>
				<div class="col-lg-12 col-md-12">
					<ul class="iuhyt_list">
						{% for mt in tagsList %}
						<li><a href="/search?q={{ mt }}">{{ mt }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>

		</div>
	</section>
	<!-- ============================ Related And Tags End ================================== -->

	<!-- ============================ Call To Action Start ================================== -->
	<section class="call-to-act" style="background:#5d47dd url(assets/img/landing-bg.png) no-repeat">
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-lg-7 col-md-8">
					<div class="clt-caption text-center mb-4">
						<h3>Subscribe Now!</h3>
						<p>Subscribe us to get unlimited tips of Photography, Videography and Others</p>
					</div>
					<div class="inner-flexible-box subscribe-box">
						<div class="input-group">
							<input type="text" class="form-control large" placeholder="Enter your mail here">
							<button class="btn btn-subscribe" type="button"><i class="fa fa-arrow-right"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ============================ Call To Action End ================================== -->
{% endblock body %}