{% extends 'dashboard/dlayout.html' %}
{% load static %}
{% block title %} Admin Panel {% endblock %}

{% block body %}
    <div class="pg-tp">
        <i class="ion-cube"></i>
        <div class="pr-tp-inr">
            <h4>Welcome to <strong>Pixzium</strong><span></span> Admin Panel</h4>
            <span>You can manage anything from single window.</span>
        </div>
    </div><!-- Page Top -->

    <div class="panel-content">
        <div class="filter-items">
            <div class="row grid-wrap mrg20">
                <div class="col-md-4 grid-item col-sm-6 col-lg-3">
                    <div class="stat-box widget bg-clr1">
                        <div class="wdgt-opt">
                            <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                            <div class="wdgt-opt-lst brd-rd5">
                                <a class="delt-wdgt" href="#" title="">Delete</a>
                                <a class="expnd-wdgt" href="#" title="">Expand</a>
                                <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                            </div>
                        </div>
                        <div class="wdgt-ldr">
                            <div class="ball-scale-multiple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <i class="ion-arrow-graph-up-right"></i>
                        <div class="stat-box-innr">
                            <span>$ <i class="counter">1,206,90</i></span>
                            <h5>All Income</h5>
                        </div>
                        <span><i class="ion-ios-stopwatch"></i> Updated: 05:14pm</span>
                    </div>
                </div>
                <div class="col-md-4 grid-item col-sm-6 col-lg-3">
                    <div class="stat-box widget bg-clr2">
                        <div class="wdgt-opt">
                            <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                            <div class="wdgt-opt-lst brd-rd5">
                                <a class="delt-wdgt" href="#" title="">Delete</a>
                                <a class="expnd-wdgt" href="#" title="">Expand</a>
                                <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                            </div>
                        </div>
                        <div class="wdgt-ldr">
                            <div class="ball-scale-multiple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <i class="ion-android-desktop"></i>
                        <div class="stat-box-innr">
                            <span><i class="counter">975</i>k+</span>
                            <h5>Page Visits</h5>
                        </div>
                        <span><i class="ion-ios-stopwatch"></i> Updated: 05:14pm</span>
                    </div>
                </div>
                <div class="col-md-4 grid-item col-sm-6 col-lg-3">
                    <div class="stat-box widget bg-clr3">
                        <div class="wdgt-opt">
                            <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                            <div class="wdgt-opt-lst brd-rd5">
                                <a class="delt-wdgt" href="#" title="">Delete</a>
                                <a class="expnd-wdgt" href="#" title="">Expand</a>
                                <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                            </div>
                        </div>
                        <div class="wdgt-ldr">
                            <div class="ball-scale-multiple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <i class="ion-cube"></i>
                        <div class="stat-box-innr">
                            <span><i class="counter">690</i></span>
                            <h5>New Orders</h5>
                        </div>
                        <span><i class="ion-ios-stopwatch"></i> Updated: 05:14pm</span>
                    </div>
                </div>
                <div class="col-md-4 grid-item col-sm-6 col-lg-3">
                    <div class="stat-box widget bg-clr4">
                        <div class="wdgt-opt">
                            <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                            <div class="wdgt-opt-lst brd-rd5">
                                <a class="delt-wdgt" href="#" title="">Delete</a>
                                <a class="expnd-wdgt" href="#" title="">Expand</a>
                                <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                            </div>
                        </div>
                        <div class="wdgt-ldr">
                            <div class="ball-scale-multiple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <i class="ion-android-upload"></i>
                        <div class="stat-box-innr">
                            <span>$ <i class="counter">2,206</i></span>
                            <h5>Today Income</h5>
                        </div>
                        <span><i class="ion-ios-stopwatch"></i> Updated: 05:14pm</span>
                    </div>
                </div>
                <div class="col-md-12 grid-item col-sm-12 col-lg-12">
                    <div class="widget proj-order pad50-40">
                        <div class="wdgt-opt">
                            <span class="wdgt-opt-btn"><i class="ion-android-more-vertical"></i></span>
                            <div class="wdgt-opt-lst brd-rd5">
                                <a class="delt-wdgt" href="#" title="">Delete</a>
                                <a class="expnd-wdgt" href="#" title="">Expand</a>
                                <a class="refrsh-wdgt" href="#" title="">Refresh</a>
                            </div>
                        </div>
                        <div class="wdgt-ldr">
                            <div class="ball-scale-multiple">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <h4 class="widget-title">Projects Orders</h4>
                        <a class="add-proj brd-rd5" href="#" data-toggle="tooltip" title="Add Project">+</a>
                        <div class="slct-bx">
                            <i class="ion-android-funnel"> Sort By:</i>
                            <span>
                                <select>
                                    <option>Date</option>
                                    <option>Name</option>
                                    <option>Category</option>
                                    <option>Duration</option>
                                </select>
                            </span>
                        </div>
                        <div class="table-wrap">
                            <table class="table table-bordered style2">
                                <thead><tr><th>#</th><th>Date</th><th>Name</th><th>Phone No</th><th>Address</th><th>Action</th></tr></thead>
                                <tbody>
                                    <tr>
                                        <td><span class="blue-bg indx">01</span></td>
                                        <td><span class="date">10 June 2017</span></td>
                                        <td><h4 class="name">Michael Baker</h4></td>
                                        <td><span class="ph#">076 9477 4896</span></td>
                                        <td><span class="addr">Some St. 77, LA</span></td>
                                        <td><div class="table-btns"><a href="#" title="" class="green-bg-hover">Accept</a><a href="#" title="" class="blue-bg-hover">Reject</a></div></td>
                                    </tr>
                                    <tr>
                                        <td><span class="blue-bg indx">02</span></td>
                                        <td><span class="date">15 June 2017</span></td>
                                        <td><h4 class="name">Larisa Maskalyova</h4></td>
                                        <td><span class="ph#">0500 034548</span></td>
                                        <td><span class="addr">Another St. 456</span></td>
                                        <td><div class="table-btns"><a href="#" title="" class="green-bg-hover">Accept</a><a href="#" title="" class="blue-bg-hover">Reject</a></div></td>
                                    </tr>
                                    <tr>
                                        <td><span class="blue-bg indx">03</span></td>
                                        <td><span class="date">19 June 2017</span></td>
                                        <td><h4 class="name">Natasha Kim</h4></td>
                                        <td><span class="ph#">(01315) 27698</span></td>
                                        <td><span class="addr">294-318 Duis Ave</span></td>
                                        <td><div class="table-btns"><a href="#" title="" class="green-bg-hover">Accept</a><a href="#" title="" class="blue-bg-hover">Reject</a></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- Filter Items -->
        </div>
    </div><!-- Panel Content -->
{% endblock body %}
