{% extends 'dashboard/dlayout.html' %}
{% load static %}
{% block title %} Admin Panel {% endblock %}

{% block body %}
<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Gallery</h4>
        <span>All Uploads by Users is waiting for your Approval.</span>
    </div>
</div><!-- Page Top -->
<div class="panel-content">
    <div class="widget pad50-65 mb150">
        <div class="fltrs text-center">
            <div class="rmv-ext gallery-wrp">
                <div class="messages col-lg-12 col-md-12 mb-3">
                    {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }} alert alert-success" role="alert"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for portfolio in portfolios %}
                    {% if portfolio.status == 'P' %}
                    <div class="col-md-6 col-sm-6 col-lg-4 flt-itm">
                        <div class="gallery-box">
                            <img src="{{ portfolio.file.url }}" alt="{{ portfolio.title }}">
                            <div class="gallery-info">
                                <h2>{{ portfolio.title }}</h2>
                                <span class="cate"><a href="" title="">{{ portfolio.tags }}</a></span>
                            </div>
                        </div>
                        <form class="mb-3" role="form" method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="pic_id" value="{{portfolio.id}}">
                            <input type="hidden" name="user_id" value="{{portfolio.user_id}}">
                            <button class="btn btn-success details-link btn-sm" name="status" value="A" type="submit">Approve</button>
                            <button class="btn btn-danger details-link btn-sm" name="status" value="R" type="submit">Reject</button>
                        </form>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->
{% endblock body %}