{% extends 'dashboard/dlayout.html' %}
{% load static %}
{% block title %} Admin Panel {% endblock %}

{% block body %}
<div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
        <h4>Gallery</h4>
        <span>All Uploads by Users is waiting for your Approval.</span>
    </div>
</div><!-- Page Top -->
<div class="panel-content">
    <div class="widget pad50-65 mb150">
        <div class="fltrs text-center">
            <div class="rmv-ext gallery-wrp">
                <div class="messages col-lg-12 col-md-12 mb-3">
                    {% for message in messages %}
                        <p {% if message.tags %} class="{{ message.tags }} alert alert-{{ message.tags }}" role="alert"{% endif %}>{{ message }}</p>
                        <br>
                    {% endfor %}
                </div>
                <h3 class="text-info">
                    <hr>Images<hr>
                </h3>
                <div class="row">
                    {% for portfolio in images %}
                    <div class="col-md-6 col-sm-6 col-lg-4 flt-itm">
                        <div class="gallery-box">
                            <img src="{{ portfolio.file.url }}" alt="{{ portfolio.title }}">
                            <div class="gallery-info">
                                <h2>{{ portfolio.title }}</h2>
                                <span class="cate"><a href="" title="">{{ portfolio.user.user }}</a></span>
                            </div>
                        </div>
                        <form class="mb-3" role="form" method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="obj_id" value="{{portfolio.id}}">
                            <input type="hidden" name="user_id" value="{{portfolio.user_id}}">
                            <input type="hidden" name="type" value="image" >
                            <button class="btn btn-success details-link btn-sm" name="status" value="A" type="submit">Approve</button>
                            <button class="btn btn-danger details-link btn-sm" name="status" value="R" type="submit">Reject</button>
                        </form>
                    </div>
                        {% empty %}
                            <p class="danger text-lg-center"> No Pending image Submissions. </p>
                    {% endfor %}
                </div>
                <h3 class="text-info">
                    <hr>Videos<hr>
                </h3>
                <div class="row">
                    {% for portfolio in videos %}
                    <div class="col-md-6 col-sm-6 col-lg-4 flt-itm">
                        <div class="gallery-box">
                          <video id="my-video" onclick="videoviews({{portfolio.id}})" class="video-js vjs-theme-forest" controls preload="auto" width="240" height="240" data-setup="{}">
                            <source src="{{ portfolio.file.url }}" type="video/mp4" >
                          </video>
                          <div class="gallery-info">
                              <h2>{{ portfolio.title }}</h2>
                              <span class="cate"><a href="" title="">{{ portfolio.user.user }}</a></span>
                          </div>
                        </div>
                        <form class="mb-3" role="form" method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="obj_id" value="{{portfolio.id}}">
                            <input type="hidden" name="user_id" value="{{portfolio.user_id}}">
                            <input type="hidden" name="type" value="video">
                            <button class="btn btn-success details-link btn-sm" name="status" value="A" type="submit">Approve</button>
                            <button class="btn btn-danger details-link btn-sm" name="status" value="R" type="submit">Reject</button>
                        </form>
                    </div>
                        {% empty %}
                        <p class="danger text-lg-center"> No Pending Video Submissions </p>
                    {% endfor %}
                </div>
                <h3 class="text-info">
                    <hr>Music<hr>
                </h3>
                <div class="row">
                    {% for portfolio in music %}
                    <div class="col-md-6 col-sm-6 col-lg-4 flt-itm">
                        <div class="cart_detail_box">
                          <audio id="my-audio" onclick="audioviews({{portfolio.id}})" class="video-js vjs-theme-forest" controls preload="False" data-setup="{}">
                            <source src="{{ portfolio.file.url }}" type="audio/mp3" >
                          </audio>
                        </div>
                        <div>
                            <h2>{{ portfolio.title }}</h2>
                            <span class="cate">By: <a href="" title="">{{ portfolio.user }}</a></span>
                        </div>
                        <form class="mb-3" role="form" method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="obj_id" value="{{portfolio.id}}">
                            <input type="hidden" name="user_id" value="{{portfolio.user_id}}">
                            <input type="hidden" name="type" value="music">
                            <button class="btn btn-success details-link btn-sm" name="status" value="A" type="submit">Approve</button>
                            <button class="btn btn-danger details-link btn-sm" name="status" value="R" type="submit">Reject</button>
                        </form>
                    </div>
                        {% empty %}
                        <p class="danger text-lg-center"> No Pending Music Submissions </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div><!-- Panel Content -->
{% endblock body %}